/* variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

/* ////////////////////////////////// */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* medias  */
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  border: 2px solid black;
  padding: 5px 10px;
  width: fit-content;
  margin: 0 auto 80px;
  position: relative;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-title::after {
  left: -25px;
}
.main-title::before {
  right: -25px;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition: var(--main-transition) 0.3s;
  -webkit-transition: var(--main-transition) 0.3s;
  -moz-transition: var(--main-transition) 0.3s;
  -ms-transition: var(--main-transition) 0.3s;
  -o-transition: var(--main-transition) var(--main-transition);
}
.main-title:hover:before {
  z-index: -1;
  animation: right-move var(--main-transition) linear forwards;
  -webkit-animation: right-move var(--main-transition) linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: left-move var(--main-transition) linear forwards;
  -webkit-animation: left-move var(--main-transition) linear forwards;
}

@keyframes left-move {
  50% {
    height: 12px;
    width: 12px;
    left: 0;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }
}

@keyframes right-move {
  50% {
    height: 12px;
    width: 12px;
    right: 0;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 100%;
    height: 100%;
    right: 0;
  }
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* //////////////////// navbar ///////////////// */

header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 676px) {
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bolder;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 676px) {
  header .logo {
    height: 50px;
    font-size: 20px;
  }
}

header .main-nav {
  display: flex;
}

header .main-nav > li > a {
  padding: 0 30px;
  color: black;
  position: relative;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 676px) {
  header .main-nav > li > a {
    padding: 0 10px;
    height: 40px;
    font-size: 14px;
  }
}

header .main-nav > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .main-nav > li > a:hover::after {
  width: 100%;
}

header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--section-background);
}
/* ///////////////mega menu//////////////////////// */
header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .main-nav li:last-child:hover > .mega-menu {
  z-index: 100;
  top: calc(100% + 1px);
  opacity: 1;
}

@media (max-width: 570px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

header .mega-menu img {
  max-width: 100%;
}

@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}

header .mega-menu .links {
  min-width: 200px;
  flex: 1;
}

header .mega-menu .links li {
  position: relative;
}

header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e9;
}
@media (max-width: 570px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e9;
  }
}

header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafa;
  width: 0;
  height: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}

header .mega-menu .links li:hover::before {
  width: 100%;
}

header .mega-menu .links li a {
  color: var(--main-color);
  padding: 10px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

header .mega-menu .links li a i {
  margin-right: 10px;
}

/* ///////////////mega menu//////////////////////// */

/* //////////////////////////////////landing///////////////// */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  background-color: #ececec;
  width: 100%;
  height: 100%;
  top: -20px;
  left: 0;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(-6deg);
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.landing .text {
  flex: 1;
}

.landing .arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  animation: arrowAnimation 0.3s infinite;
  -webkit-animation: arrowAnimation 1s infinite ease-in-out;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@keyframes arrowAnimation {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 3px;
  }
  40%,
  60% {
    bottom: 0;
  }
}

.landing .arrow-down:hover {
  color: var(--main-color-alt);
}

.landing .image img {
  max-width: 100%;
  width: 600px;
  animation: imgAnimation 2.5s linear infinite;
  -webkit-animation: imgAnimation 2.5s linear infinite;
}

@keyframes imgAnimation {
  0%,
  100% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
  .landing .text {
    text-align: center;
  }
}
/* ///////    Articles    //// */

.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
}

.articles .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.176);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box img {
  max-width: 100%;
}

.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

/* ///////    Gallery    //// */

.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .box .image::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  transform: scale(0);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.gallery .box .image:hover::after {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  opacity: 0;
}
.gallery .box img {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  max-width: 100%;
}

.gallery .box:hover img {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}
.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box .img-holder img {
  max-width: 100%;
}
.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}
.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
  background-color: #009688;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}

.testimonials .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -40px;
  right: -10px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .box h3 {
  margin: 0 0 10px;
}
.testimonials .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}

/* End Testimonials */

/* start team */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.team .box {
  position: relative;
  padding: 30px;
}

.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: calc(100% - 60px);
  height: 100%;
  background-color: var(--section-background);
  z-index: -2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

.team .box::after {
  width: 0;
  background-color: red;
  z-index: -1;
}

.team .box:hover:after {
  width: calc(100% - 60px);
}

.team .box .data {
  position: relative;
}
.team .box .data .social {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.team .box img {
  max-width: 100%;
}
/* End team */
